.container {
    min-width: 320px;
    max-width: 375px;
    padding: 16px;
    margin: 0 auto;
    padding-top: 0;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 32px;
        padding-top: 4px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 32px;
        padding-top: 4px;
    }
}
.gg{
    display: flex;
        gap: 10px;
}
.icon{
  fill: transparent;
}

.garage{
    width: 300px;
    height: 400px;
    background-color: #ab5757bb;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.grass {
    position: relative;
    width: 600px;
    height: 550px;
    background-color: #96bf9c44;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.sprinkl{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: red; */
}
.sprinklPos1{
    top: 5px;
    left: 5px;
}
.sprinklPos2{
    left: 5px;
}
.sprinklPos3{
    top: 5px;
    right: 5px;
}
.sprinklPos4{
    right: 5px;
}
.sprinklPos5{
    bottom: 5px;
    right: 5px;
}
.sprinklPos6{
    bottom: 5px;
    left: 50px;
}
.sprinklPos11{
  bottom: 200px;
  
}
.sprinklOn{
    fill: rgb(62, 147, 251);
}

.garden {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #50d27d99;
    border-radius: 5px;
}
.patio {
    width: 250px;
    height: 250px;
    background-color: #5d9ce899;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.sunroom {
    width: 250px;
    height: 250px;
    background-color: #efe777;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.gardenTop{
    width: 300px;
    height: 250px;
    display: flex;
        justify-content: center;
        align-items: start;
}
.gardenGarag{
    display: flex;
}
.bottomGarden{
    width: 150px;
    height: 100px;
}
.gardenG{
    display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
width: 250px;
    height: 150px;
    background: #a26363;
    border-radius: 5px;
}

.sprinklPos7 {
    top: 120px;
    right: 25px;
}

.sprinklPos8 {
    top: 140px;
}

.sprinklPos9 {
    top: 120px;
    right: 140px;
}

.sprinklPos10 {
    left: 80px;
    bottom: 5px;
}
